.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# test
/tests/e2e/reports

# plugin
/vue-cli-plugin-vue-boilerplate/generator/template
/vue-cli-plugin-vue-boilerplate/node_modules

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
