@import "variables";
@import "animate";

// 标题文字
.extra-title-text{
  font-size: 24px;
  color: lighten($--color-black, 25%);
  line-height: 32px;
  font-weight: 500;
}

// 链接
.link{
  cursor: pointer;
}

// 分割线
.divider::after{
  display: block;
  height: 1px;
  width: 100%;
  content: " ";
  background: $--border-color-base;
}

// 文字颜色
.text-primary{
  color: $--color-primary;
}

.text-success{
  color: $--color-success;
}

.text-warning{
  color: $--color-warning;
}

.text-danger{
  color: $--color-danger;
}

.text-info{
  color: $--color-info;
}

.text-regular{
  color: $--color-text-regular;
}

.text-secondary{
  color: $--color-text-secondary;
}

.text-default{
  color: $--color-text-primary;
}
