<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mock Server Console</title>
    <link rel="stylesheet" href="ui.css">
    <link rel="stylesheet" href="../../node_modules/element-ui/packages/theme-chalk/lib/index.css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>


</head>
<body>
    <div id="app" class="main">
        <div class="aside">
            <ul class="list-group">
                <li class="list-group__item"
                    :class="{active: currentCollection && currentCollection.name === name}"
                    v-for="name in collectionNames" :key="name"
                    @click="changeCollection(name)">{{name}}</li>
            </ul>
        </div>
        <div class="content">
            <pre><code id="hlBlock" v-once>{{expr}}</code></pre>
            <div class="editor">
                <div style="height: 36px; background: #b4bccc;">
                    <el-button type="text" @click="exec" :disabled="loading">&nbsp;执行</el-button>
                </div>
                <el-input
                        style="height: 100%;"
                        type="textarea"
                        :autosize="{ minRows: 10}"
                        placeholder="请输入内容"
                        v-model="expr">
                </el-input>
            </div>
            <div class="view">
                <el-table
                        :data="currentCollection && currentCollection.data"
                        stripe
                        border
                        style="width: 100%">
                    <el-table-column v-for="key in keys" :key="key"
                            :label="key">
                        <pre slot-scope="{row}"><code class="json">{{row[key]}}</code></pre>
                    </el-table-column>
                </el-table>
            </div>
        </div>
    </div>
    <script src="../../node_modules/axios/dist/axios.js"></script>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../node_modules/element-ui/lib/index.js"></script>
    <script>if(hljs)hljs.initHighlightingOnLoad();</script>
    <script src="app.js"></script>
</body>
</html>